body {
    font-family: Helvetica;
}

h1, h2, span {
    font-weight: bold;
}

h1 {
    font-size: 100px;
    color: khaki;
    text-align: center;
    background-image: url('/images/pattern.jpeg');
}

h2 {
    font-size: 32px;
    color: white;
}

span {
    color: blue;
}

.green {
    background-color: mediumspringgreen;
}

.red {
    background-color: lightcoral;
}

.blue {
    background-color: skyblue;
}